<div id="form">
    <h2>New Celebrity</h2>
    <form action="/celebrities/create" method="post">

        <label for="name">Name</label>
        <input type="text" name="name" id="name"><br/>

        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" id="occupation"><br/>

        <label for="catchPhrase">Catch phrase</label>
        <textarea name="catchPhrase" id="catchPhrase"></textarea><br/>

        <input type="submit" value="Create new celebrity">

    </form>
</div>